#speciesRelationshipContainer {
    position: absolute;
    width: 60vmin;
    height: 30vmin;
    left: calc(50% - 30vmin);
    top: calc(50% - 15vmin);
    text-align: center;
}

#speciesRelationshipForm {
    position: absolute;

    text-align: left;

    width: 100%;
    height: 100%;

    color: rgb(125, 125, 125);

    display: flex;
    justify-content: center;
}

.relationshipFormOptions {
    display: inline-block;
    padding-left: 5vmin;
    padding-right: 5vmin;
    text-align: center;
}

#speciesRelationshipButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 40%;
}

.relationshipFormButton {
    border-radius: 20px;
    border: none;
    margin-left: 1vmin;
    margin-right: 1vmin;
    color: rgb(125, 125, 125);
    padding: 15px;
}

.relationshipFormButton:disabled {
    background-color: grey;
    opacity: 50%;
    color: black;
    cursor: not-allowed;
}
