#statsPageContainer {
    position: absolute;
    height: calc(100% - 7vmin);
    width: 40vmin;
    background-color: rgb(36, 36, 36);
    right: 0px;
    top: 0px;
    text-align: center;
    color: rgb(125, 125, 125);
}

#statsPageInfoContainer {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: scroll;
}

#statsPageInfoContainer::-webkit-scrollbar {
    background-color: rgb(73, 73, 73);
    width: none;
    display: none;
}
#statsPageInfoContainer::-webkit-scrollbar-thumb {
    background-color: rgb(26, 26, 26);
    width: none;
}

.mainName {
    width: 100%;
    text-align: left;
    border-top: 1px solid rgb(59, 59, 59);
    border-bottom: 0.5px solid rgb(59, 59, 59);
    padding-left: 20px;
    font-size: 0.7vmax;
}

.genomeStat {
    color: white;
    text-align: left;
}

.creatureItem {
    text-align: left;
}

.backButton {
    position: absolute;
    left: 0px;
    top: 10px;
    background-color: rgb(36, 36, 36);
    border: none;
    width: 3vmin;
    height: 3vmin;
    color: rgb(125, 125, 125);
}

.fillerTitle {
    padding-top: 15px;
}
